$f: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;

$mobile: 730px;

$fontSize: 20;
$lineHeight: 16;

$setColorDark: #022E2B;

$c: (
    b: #ffffff,
/*    hero: #184536,*/
    hero: lighten(#000000, 15),
    danger: #ff5d55,
    success: #00973f,
    secondary: lighten(#A9A9A9, 25),
);

$setColorLightList: (
    #ff5d55,
);

@import "clyne-core/index";

