@import "src/assets/scss/core";
.marquee-holder {
    width: 100%;
    position: relative;
    overflow: hidden;
    font: 700 f(18) $f;
    color: sc(b, 0.2);
    @include mobile {
        font-size: rem(12);
    }
    > li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: rem(12);
        @include mobile {
            gap: rem(6);
        }
        &:first-child {
            opacity: 0;
        }
    }
}
