@import "src/assets/scss/core";
.people-section-head {
    width: 100%;
    display: grid;
    grid-column-gap: rem(24);
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
}
.people-section-container {
    display: flex;
    gap: rem(20);
    @include mobile {
        flex-direction: column;
    }
}
.people-section-item {
    display: grid;
    align-items: flex-start;
    align-content: flex-start;
    grid-template-columns: 100%;
    > li {
        gap: rem(24);
        display: grid;
        grid-template-columns: 100%;
        @include mobile {
            gap: rem(16);
        }
        &:last-child {
            padding: rem(24);
        }
    }
    img {
        width: 100%;
        border-radius: rem(36);
        @include mobile {
            border-radius: rem(24);
        }
    }
}
.people-section-headings {
    display: grid;
    grid-template-columns: 100%;
    gap: rem(12);
    h4 {
        font: 900 f(28) $f;
    }
}
.people-section-meta {
    display: flex;
    gap: rem(8);
    align-items: center;
    small {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: rem(1) solid sc(b);
        height: rem(40);
        border-radius: rem(40);
        padding: 0 rem(16);
        font: f(14) $f;
    }
}
.people-section-socials {
    display: flex;
    gap: rem(4);
    align-items: center;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(36);
        height: rem(36);
        color: c(hero);
        @include hover {
            color: c(hero-hover);
        }
    }
}
.people-section-contents {
    font-size: rem(16);
}
